.Video-Preview-Grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 45px;
  padding: 130px 50px 50px 265px;
}

@media (max-width: 600px){
  .Video-Preview-Grid{
    grid-template-columns: 1fr;
    padding: 130px 50px 50px 50px;
  }
}

@media (min-width: 601px) and (max-width: 1100px){
  .Video-Preview-Grid{
    grid-template-columns: 1fr 1fr;
    padding: 130px 50px 50px 135px;
  }
}

@media (min-width: 1101px) and (max-width: 1500px){
  .Video-Preview-Grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 1501px){
  .Video-Preview-Grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.Video-Preview:hover{
  cursor: pointer;
}
.Video-Picture{
  position: relative;
}

.VideoPicture{  
  border-radius: 10px;
  width: 100%;
}

.VideoDuration{
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  background-color: black;
  font-size: 12px;
  font-weight: 500;
  border-radius: 2px;
  padding: 4px;
}

.Video-Information-Grid{
display: grid;
grid-template-columns: 35px 1fr;
column-gap: 10px;
margin-top: 10px;
}

.AuthorPicture{
  border-radius: 50px;
  width: 100%;
}

p{
  margin: 0px;
}

.VideoTitle{
  font-size: 16px;
  line-height: 22px;  
  font-weight: 500;
  margin-bottom: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.VideoAuthor{
  margin-bottom: 4px;
  }
  
.VideoAuthor,
.VideoStatus{
  color: rgb(96, 96, 96);
  font-size: 14px;
}
